# Imports

In [1]:
import sqlite3

# In-order to run this programe smoothly in Jupyter, you need to put all the funtions in the same cell.
# This is just for explanation

### Funtion to Create a Database and connect it to the Front End

In [2]:
def connect():
    conn=sqlite3.connect("books.db")
    
    # define a cursor object
    cur=conn.cursor()
    
    # use the cursor object to execute the sql query
    # We are creating a Table (specifying which type of data will be stored)
    cur.execute("CREATE TABLE IF NOT EXISTS book (id INTEGER PRIMARY KEY, title text, author text, year integer, isbn integer)")
    
    # Save changes
    conn.commit()
    
    # close the connection
    conn.close()

### Funtion to Add entry in the database

In [3]:
# We pass 4 parameters becouse we expect the user to input 4 values for an entry
def insert(title,author,year,isbn):
    conn=sqlite3.connect("books.db")
    cur=conn.cursor()
    cur.execute("INSERT INTO book VALUES (NULL,?,?,?,?)",(title,author,year,isbn))
    conn.commit()
    conn.close()
    view()

### Funtion to View all the entries in the database

In [4]:
# Fetch alll the rows from the table in the database
def view():
    conn=sqlite3.connect("books.db")
    cur=conn.cursor()
    cur.execute("SELECT * FROM book")
    rows=cur.fetchall()
    conn.close()
    return rows

### Funtion to search an entry in the database

In [5]:
# Search the database for a particular entry(using OR logic)
def search(title="",author="",year="",isbn=""):
    conn=sqlite3.connect("books.db")
    cur=conn.cursor()
    cur.execute("SELECT * FROM book WHERE title=? OR author=? OR year=? OR isbn=?", (title,author,year,isbn))
    rows=cur.fetchall()
    conn.close()
    return rows

### Funtion to delete an entry from the database

In [6]:
# Delete a record, Select and delete the record
def delete(id):
    conn=sqlite3.connect("books.db")
    cur=conn.cursor()
    cur.execute("DELETE FROM book WHERE id=?",(id,))
    conn.commit()
    conn.close()

### Funtion to update an entry in the database

In [7]:
# Can update any value for each entery(can change any attribute of the book)
def update(id,title,author,year,isbn):
    conn=sqlite3.connect("books.db")
    cur=conn.cursor()
    cur.execute("UPDATE book SET title=?, author=?, year=?, isbn=? WHERE id=?",(title,author,year,isbn,id))
    conn.commit()
    conn.close()

connect()